# Core Backend
fastapi
uvicorn[standard]
python-multipart

# Frontend & UI
streamlit
streamlit-option-menu
plotly

# Data
pandas
numpy
requests
pydantic
email-validator

# Auth & Security
bcrypt
python-jose[cryptography]
slowapi

# OTP
pyotp

# PDF Reports
fpdf2

# Config
python-dotenv
openpyxl